html {
    font-family: "Hanken Grotesk";
}

body {
    background-color: #1C1D21;
}

main {
    max-width: 1440px;
}

.hero-page {
    height: 95vh;
    padding: 15px 90px;
}

.linguagem-gitpage,
.linguagens,
.repo a,
.repo,
.repo-name,
.texto-footer,
.projects,
.future-study,
.knowledge-experience,
.technologies,
.social-media-links,
body,
.contato,
.icon-redes,
.texto-ajuda-nick {
    display: flex;
}

.repo,
.repo a,
.repo-name,
.linguagem-gitpage {
    align-items: center;
}

.hero-text .hero-title,
.as-know-as-text,
.knowledge-experience h2,
.experience,
.hero-text .fale-comigo p:hover,
.social-media-links a,
.linguagens,
.repo a:hover,
.git-pages a:hover {
    color: #a288a6;
}

.hero-text span,
.hero-text .description-text,
.hero-text .fale-comigo,
.personal-projects,
.future-study,
.social-media-links a:hover,
.nick,
.projects-container,
.contato p,
.texto-ajuda-nick,
.social-media-links a:hover,
.nick,
.projects-container,
.contato p,
.texto-ajuda-nick,
.nick,
.projects-container,
.contato p,
.texto-ajuda-nick {
    color: #ffffff;
}

.hero-page,
.technologies,
.projects-container,
.footer-info {
    padding: 15px 90px;
}

.social-media-links,
body {
    justify-content: center;
}

.social-media-links,
.decorative-line,
.footer,
.projects-container,
.gif {
    width: 100%;
}

.social-media-links {
    gap: 15px;
}

.hero-text {
    width: 65%;
    margin-top: 45px;
}

.hero-text .hero-title {
    line-height: 90px;
    font-size: 90px;
}

.hero-text .as-know-as-text,
.experience,
.technology-text {
    font-weight: 700;
}

.hero-text .as-know-as-text,
.experience,
.technology-text,
.repo {
    font-size: 30px;
}

.hero-text .description-text,
.hero-text .fale-comigo p {
    font-size: 20px;
}

.hero-text .description-text {
    margin-top: 50px;
    width: 55%;
}

.hero-text .fale-comigo p {
    margin-top: 80px;
    border-bottom: #ffffff 2px solid;
    padding: 0 0 15px 0;
    width: 130px;
}

.hero-text .fale-comigo p:hover {
    border-bottom: #A288A6 1px solid;
    transition: 0.3s ease-in-out;
}

.decorative-line {
    height: 2px;
}

.decorative-line,
.footer {
    background-color: #A288A6;
}

.technologies {
    height: 50vh;
    flex-direction: column;
}

.knowledge-experience h2,
.future-study h2 {
    font-size: 45px;
}

.experience,
.technology-text {
    font-size: 22px;
}

.personal-projects {
    font-size: 18px;
    font-weight: 400;
}

.future-study,
.knowledge-experience,
.technologies {
    justify-content: space-around;
}

.future-study,
.technologies {
    text-align: center;
}

.HTML,
.CSS,
.JS,
.REACT-SQL,
.design {
    width: 300px;
}

.technology-text,
.repo-name,
.linguagens p {
    font-weight: 600;
}

.projects {
    margin-top: 30px;
}

.projects-container h2 {
    font-size: 90px;
}

.project {
    width: 48%;
    margin-top: 20px;
}

.gif,
.project {
    height: 50%;
}

.repo p {
    font-size: 22px;
}

.repo-name .repo .repo-icon {
    height: 30px;
}

.repo-name .repo .repo-icon,
.linguagem-gitpage {
    margin-top: 5px;
}

.linguagens,
.repo a {
    gap: 10px;
}

.git-pages p {
    font-family: "Roboto Condensed";
    font-weight: 700;
    margin-right: 0px;
}

.git-pages p,
.git-pages span,
.technology-text,
.repo-name,
.linguagens p {
    font-size: 24px;
}

.repo a,
.git-pages span {
    font-weight: 100;
    font-family: "Open sans";
}

.git-pages span {
    margin-left: 5px;
}

.projects {
    flex-wrap: wrap;
}

.footer {
    padding: 25px 0px;
    margin-top: 50px;
}

.contato img {
    height: 40px;
}

.texto-footer,
.projects,
.linguagem-gitpage,
.repo-name {
    justify-content: space-between;
}

.footer h2 {
    font-size: 90px;
}

.contato {
    flex-direction: column;
    width: 350px;
}

.icon-redes {
    flex-direction: row-reverse;
    gap: 15px;
    margin-top: 25px;
}

.icon-redes,
.social-media-links {
    font-size: 50px;
}

.contato .icon-redes a:hover,
.nick:hover,
.social-media-links a:hover,
.footer h2 {
    color: #1C1D21;
}

.social-media-links a:hover {
    color: #ffffff;
}

.contato p,
.texto-ajuda-nick {
    font-size: 22px;
}

.me-contate p {
    text-align: end;
}

.texto-ajuda-nick {
    width: 350px;
    flex-direction: column;
    justify-content: space-between;
}

.nick {
    font-size: 45px;
    font-weight: 800;
}

.repo a:hover,
.git-pages a:hover,
.contato .icon-redes a:hover,
.nick:hover,
.social-media-links a:hover {
    transition: 0.3s ease-in-out;
}