#projects-page {
    grid-area: projects-page;
    background-color: var(--dark-color);
    padding: 2.1rem;
}

#projects-page h2 {
    font-size: 4rem;
}

@media (min-width: 550px) {
    #projects-page h2 {
        font-size: 6rem;
    }

    #projects-page {
        margin-top: 5rem;
    }
}

@media (min-width: 768px) {
    .projects-container {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        width: 48%;
    }
}

@media (min-width: 960px) {
    #projects-page {
        padding: 3.5rem;
    }
}

@media (min-width: 1280px) {
    #projects-page {
        padding: 5rem;
    }

    #projects-page h2 {
        font-size: 9rem;
    }
}